.homeLinksDiv {
  display: flex;
  text-align: left;
  text-decoration: none;

  @media @mobile {
    flex-direction: column;
    > div:last-child {
      margin-top: 10px;
    }
    div {
      text-align: center;
    }
  }

  div {
    flex: 1;

    a {
      display: inline-flex;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  img {
    margin-right: 10px;
  }
}

.freeAndIndependentText {
  font-style: italic;
  color: #555;
  text-shadow: 1px 1px 1px #ccc;
}
